//Variables
$body-bg-color: hsl(0, 0%, 98%);
$primary-cyan-color-default: hsl(176, 50%, 47%);
$primary-dark-cyan-color-activeStates: hsl(176, 72%, 28%);


@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

}

//background propreties
@mixin backgroundStyle() {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
}

body {
    background-color: $body-bg-color;
    font-family: Commissioner, Arial, Helvetica, sans-serif;
}

.wrapper {
    @include Flex(column);

    width: 100%;
}

header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: start;
    place-content: stretch;
    width: 100%;

    picture {
        grid-area: 1/1/2/3;
    }

}

.main {
    max-width: 22rem;
    position: relative;
    transform: translateY(-55px);
}

.desktop-navigation {
    display: none;
}

//Navbar Styling Section
nav {
    @include Flex(row);
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    grid-area: 1/1/2/2;
    padding: 1em;
    background: border-box linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 20%, 0.1));

    .navbar-button {
        border: none;
        background-color: transparent;

    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-500px)
    }

    50% {
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0)
    }

}

//Mobile menu navigation styling
.portal-group {
    @include Flex(column);
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.navigation-container {
    @include Flex(column);
    width: 80%;
    @include backgroundStyle();
    position: fixed;
    top: 55px;

    //Slide down animation
    animation-name: slidedown;
    animation-duration: 0.3s;
    animation-iteration-count: 1;

    .mobile-navigation {
        text-decoration: none;
        width: 100%;
        color: black;
        font-weight: 700;
        font-size: 1.25rem;
        padding: 1.5em;
        transition: color 0.2s linear;
    }

    .mobile-navigation:hover {
        color: $primary-dark-cyan-color-activeStates;
    }

}

.border-line {
    display: block;
    width: 100%;
    border: 0.005px solid hsla(0, 0%, 20%, 0.151);
}

//Product Styling Section
.mastercraft-container {
    @include Flex(column);
    position: relative;
    @include backgroundStyle();
    padding: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 0.875rem;
}

.mastercraft-logo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);

}

.product-content {
    .product-header {
        margin-top: 1em;
        margin-bottom: 0.7em;
    }

    .product-description {
        margin-bottom: 1.2em;
        opacity: 0.7;
    }
}

.back-project {
    @include Flex(row);
    gap: 1em;
    width: 100%;
    justify-content: space-between;

    .backproject-button {
        display: block;
        width: 100%;
        padding: 1em;
        color: white;
        background-color: $primary-cyan-color-default;
        border: none;
        border-radius: 24px;
        font-weight: 700;
    }
}

.bookmare-button {
    @include Flex(row);
    background-color: hsl(0, 0%, 97%);
    gap: 0.5em;
    border: none;
    border-radius: 24px;
    padding: 0;

    span {
        display: none;
    }
}

/* ============== Product Section Finish =================*/

//FundTracker Styling Section
.fund-container {
    @include backgroundStyle();
    padding: 1.5em;
    margin-bottom: 1.5em;

    ul {
        @include Flex(column);
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    .fund-remain {
        font-size: 2rem;
        font-weight: 800;
    }

    .fund-total {
        font-size: 0.875rem;
        opacity: 0.7;
    }

    .line {
        width: 50px;
        height: 1px;
        background-color: lightgray;
        margin: 0.7em;
        text-align: center;
    }

}

//Backed progressbar
.progressbar-container {
    position: relative;
    margin-bottom: 2em;
    width: 100%;
}

.progressbar-BG,
.progressbar-filling {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    border-radius: 16px;
    background-color: hsl(0, 0%, 90%);
}

.progressbar-filling {
    width: 100%;
    background-color: $primary-cyan-color-default;
}

/* ============== FundTracker Section Finish =============*/

//Cards Styling Sections
.cards-container {
    @include Flex(column);
    align-items: start;
    gap: 1.5em;
    @include backgroundStyle();
    padding: 2em;

    .product-description {
        opacity: 0.7;
    }
}

.cards {
    @include Flex(column);
    @include backgroundStyle();
    align-items: start;
    gap: 0.8em;
    padding: 1em;
    border: 0.06em solid hsl(0, 0%, 85%);

    .pledge-text {
        color: $primary-cyan-color-default;
        font-weight: 700;
    }

    .description-text {
        opacity: 0.7;
        margin-block: 0.5em;
    }

}

.stock-group {
    @include Flex(row);
    justify-content: start;
    gap: 0.5em;
    margin-bottom: 1em;

    .stock-left {
        font-size: 2rem;
        font-weight: 700;


        span {
            opacity: 0.6;
        }
    }

}

.reward-button {
    display: block;
    width: max-content;
    font-size: 0.875rem;
    padding: 1em 2em 1em 2em;
    border-radius: 24px;
    border: none;
    background-color: $primary-cyan-color-default;
    color: white;
}

.out-of-stock-button {
    cursor: not-allowed;
    font-size: 0.875rem;
    padding: 1em 2em 1em 2em;
    border-radius: 24px;
    border: none;
    background-color: hsl(0, 0%, 75%);
    color: white;
}

/*=============== Card Section Finish ====================*/

//Pledge Modal Styling Section
.modal-container {
    @include Flex(column);
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.pledge-form {
    @include Flex(column);
    gap: 1em;
    align-items: start;
    max-width: 21rem;
    height: 100%;
    @include backgroundStyle();
    padding: 1em;

    .pledge-text {
        color: $primary-cyan-color-default;
        font-weight: 600;
    }


}

.modal-input {
    padding: 1em;
    margin-bottom: 1em;
    border: 0.06em solid hsl(0, 0%, 85%);
    border-radius: 12px;

    .description-text {
        opacity: 0.7;
        margin-block: 0.5em;
    }

    .stock-left {
        font-size: 1rem;
        font-weight: 700;

        span {
            opacity: 0.6;
        }
    }

}

.pledgeRadio-flex-row {
    @include Flex(row);
    position: relative;
    justify-content: start;
    gap: 0.5em;
}

input[type="radio"] {
    appearance: none;
    margin: 0;

    width: 1.5em;
    height: 1.5em;
    font-size: inherit;
    color: lightgray;
    border: 0.05em solid lightgray;
    border-radius: 50%;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $primary-cyan-color-default;
}

input[type="radio"]:checked::before {
    transform: scale(1);

}

.title-flex {
    @include Flex(row-reverse);
    justify-content: space-around;
    width: 100%;
}

.closeModal-button {
    border: none;
    background-color: transparent;
    margin-left: auto;
}

//Hover states for buttons
button {
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.backproject-button:hover {
    background-color: $primary-dark-cyan-color-activeStates;
}

.bookmare-button:hover {
    background-color: lightgrey;

    .bookmark-image {
        // filter: invert(63%) sepia(86%) saturate(321%) hue-rotate(127deg) brightness(83%) contrast(83%);

        opacity: 0.7;
    }
}

.reward-button:hover {
    background-color: $primary-dark-cyan-color-activeStates;
}

//Footer
.attribution {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 76%);
    text-align: center;
    text-wrap: balance;
    font-size: 0.875rem;
    word-spacing: 0.2em;
    padding: 1em;

    a {
        color: $primary-cyan-color-default;
        font-weight: 700;
    }
}

@media (min-width: 50rem) {

    header {
        .desktop-navigation {
            @include Flex(row);
            gap: 2em;


            .navigations {
                text-decoration: none;
                color: white;
                transition: color 0.2s linear;
            }

            .navigations:hover {
                color: $primary-cyan-color-default;
            }
        }
    }

    .main {
        max-width: 38rem;
    }

    /* Mobile navigation visibility*/
    .navbar-button {
        display: none;
    }

    .navigation-container {
        display: none;
    }

    /*==================*/

    .back-project {
        .backproject-button {
            width: 30%;
        }

        .bookmare-button {
            span {
                display: block;
                font-weight: 700;
                text-align: center;
                padding-inline: 1em;
            }
        }
    }

    .fund-container {
        ul {
            @include Flex(row);
            justify-content: space-around;

        }

        .line {
            width: 1px;
            height: 50px;
        }
    }

    .desktop-flex-row {
        @include Flex(row);
        width: 100%;
        justify-content: space-between;
    }

}