@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: Commissioner, Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: start;
  place-content: stretch;
  width: 100%;
}
header picture {
  grid-area: 1/1/2/3;
}

.main {
  max-width: 22rem;
  position: relative;
  transform: translateY(-55px);
}

.desktop-navigation {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  grid-area: 1/1/2/2;
  padding: 1em;
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 20%, 0.1));
}
nav .navbar-button {
  border: none;
  background-color: transparent;
}

@keyframes slidedown {
  0% {
    transform: translateY(-500px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.portal-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  position: fixed;
  top: 55px;
  animation-name: slidedown;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
.navigation-container .mobile-navigation {
  text-decoration: none;
  width: 100%;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1.5em;
  transition: color 0.2s linear;
}
.navigation-container .mobile-navigation:hover {
  color: rgb(20, 123, 116);
}

.border-line {
  display: block;
  width: 100%;
  border: 0.005px solid hsla(0, 0%, 20%, 0.151);
}

.mastercraft-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 0.875rem;
}

.mastercraft-logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.product-content .product-header {
  margin-top: 1em;
  margin-bottom: 0.7em;
}
.product-content .product-description {
  margin-bottom: 1.2em;
  opacity: 0.7;
}

.back-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}
.back-project .backproject-button {
  display: block;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: rgb(60, 180, 172);
  border: none;
  border-radius: 24px;
  font-weight: 700;
}

.bookmare-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 97%);
  gap: 0.5em;
  border: none;
  border-radius: 24px;
  padding: 0;
}
.bookmare-button span {
  display: none;
}

/* ============== Product Section Finish =================*/
.backed-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.backed-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.backed-container .backed,
.backed-container .backers,
.backed-container .backed-days {
  font-size: 2rem;
  font-weight: 800;
}
.backed-container .backed-total,
.backed-container .backers-total,
.backed-container .backed-days-total {
  font-size: 0.875rem;
  opacity: 0.7;
}
.backed-container .line {
  width: 50px;
  height: 1px;
  background-color: lightgray;
  margin: 0.7em;
  text-align: center;
}

.progressbar-container {
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}

.progressbar-BG,
.progressbar-filling {
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  border-radius: 16px;
  background-color: hsl(0, 0%, 90%);
}

.progressbar-filling {
  width: 100%;
  background-color: rgb(60, 180, 172);
}

/* ============== FundTracker Section Finish =============*/
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 1.5em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 2em;
}
.cards-container .product-description {
  opacity: 0.7;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  align-items: start;
  gap: 0.8em;
  padding: 1em;
  border: 0.06em solid hsl(0, 0%, 85%);
}
.cards .pledge-text {
  color: rgb(60, 180, 172);
  font-weight: 700;
}
.cards .description-text {
  opacity: 0.7;
  margin-block: 0.5em;
}

.stock-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  margin-bottom: 1em;
}
.stock-group .stock-left {
  font-size: 2rem;
  font-weight: 700;
}
.stock-group .stock-left span {
  opacity: 0.6;
}

.reward-button {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.875rem;
  padding: 1em 2em 1em 2em;
  border-radius: 24px;
  border: none;
  background-color: rgb(60, 180, 172);
  color: white;
}

.out-of-stock-button {
  cursor: not-allowed;
  font-size: 0.875rem;
  padding: 1em 2em 1em 2em;
  border-radius: 24px;
  border: none;
  background-color: hsl(0, 0%, 75%);
  color: white;
}

/*=============== Card Section Finish ====================*/
@keyframes popupModal {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: grid;
  place-content: center;
}

.pledge-form {
  max-width: 21rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 2em;
  overflow-y: auto;
  animation-name: popupModal;
  animation-duration: 0.2s;
}
.pledge-form .description-text {
  font-size: 0.875rem;
  margin-bottom: 1.25em;
  opacity: 0.7;
}
.pledge-form .pledge-text {
  color: rgb(60, 180, 172);
  font-weight: 600;
}

.title-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1.5em;
}

.modal-input {
  padding: 1em;
  margin-bottom: 1em;
  border: 0.06em solid hsl(0, 0%, 85%);
  border-radius: 12px;
}
.modal-input .description-text {
  opacity: 0.7;
  margin-block: 0.5em;
}
.modal-input .stock-left {
  font-size: 1rem;
  font-weight: 700;
}
.modal-input .stock-left span {
  opacity: 0.6;
}

.pledgeRadio-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: start;
  gap: 0.5em;
}

input[type=radio] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  background-color: #fff;
  cursor: pointer;
  width: 1.15em;
  height: 1.15em;
  font-size: inherit;
  color: lightgray;
  border: 0.1em solid hsl(0, 0%, 86%);
  border-radius: 50%;
}

input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(60, 180, 172);
}

input[type=radio]:checked::before {
  transform: scale(1);
}

.pledge-label {
  cursor: pointer;
  font-weight: 700;
  transition: color 100ms linear;
  will-change: color;
}

.pledge-label:hover {
  color: rgb(60, 180, 172);
}

/*=============================*/
.closeModal-button {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.pledgeform-container {
  border-top: 0.015em solid lightgray;
}
.pledgeform-container p {
  font-size: 0.875rem;
  text-align: center;
  color: hsl(0, 0%, 50%);
}

.pledge-input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
}
.pledge-input-group .pledge-input {
  width: 5em;
  padding: 0.5em;
  border: solid 0.05em lightgray;
  border-radius: 24px;
  text-align: center;
}

.continue-button {
  display: block;
  font-size: 0.875rem;
  padding: 0.8em 1.2em 0.8em 1.2em;
  border-radius: 24px;
  border: none;
  background-color: rgb(60, 180, 172);
  color: white;
}

/* ================= Pledge Modal Section Finish ================ */
.complete-modal-container {
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  max-width: 20rem;
  padding: 1em;
  width: 100%;
}
.modal-complete .check-icon {
  margin-top: 1em;
}
.modal-complete .description-text {
  font-size: 0.875rem;
  opacity: 0.7;
  text-align: center;
}

.got-it-button {
  display: block;
  font-size: 0.875rem;
  padding: 1em 2em 1em 2em;
  border-radius: 24px;
  margin-bottom: 1em;
  border: none;
  background-color: rgb(60, 180, 172);
  color: white;
}

button {
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.backproject-button:hover {
  background-color: rgb(20, 123, 116);
}

.bookmare-button:hover {
  background-color: lightgrey;
}
.bookmare-button:hover .bookmark-image {
  opacity: 0.7;
}

.reward-button:hover {
  background-color: rgb(20, 123, 116);
}

.continue-button:hover {
  background-color: rgb(20, 123, 116);
}

.got-it-button:hover {
  background-color: rgb(20, 123, 116);
}

.attribution {
  display: block;
  width: 100%;
  background-color: hsl(0, 0%, 76%);
  text-align: center;
  text-wrap: balance;
  font-size: 0.875rem;
  word-spacing: 0.2em;
  padding: 1em;
}
.attribution a {
  color: rgb(60, 180, 172);
  font-weight: 700;
}

@media (min-width: 50rem) {
  header .desktop-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  header .desktop-navigation .navigations {
    text-decoration: none;
    color: white;
    transition: color 0.2s linear;
  }
  header .desktop-navigation .navigations:hover {
    color: rgb(60, 180, 172);
  }
  .main {
    max-width: 38rem;
  }
  /* Mobile navigation visibility*/
  .navbar-button {
    display: none;
  }
  .navigation-container {
    display: none;
  }
  /*==================*/
  nav {
    justify-content: space-around;
  }
  .back-project .backproject-button {
    width: 30%;
  }
  .back-project .bookmare-button span {
    display: block;
    font-weight: 700;
    text-align: center;
    padding-inline: 1em;
  }
  .backed-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .backed-container .line {
    width: 1px;
    height: 50px;
  }
  .desktop-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .pledgeform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .pledge-form {
    max-width: 44rem;
  }
  .pledge-form .description-text {
    font-size: 1rem;
  }
  .title-pledge-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
  }
  .modal-complete {
    max-width: 28rem;
    padding: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */