@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  font-family: Commissioner, Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
}
header picture {
  grid-area: 1/1/2/3;
}

.main {
  max-width: 22rem;
  position: relative;
  transform: translateY(-55px);
}

.desktop-navigation {
  display: none;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  grid-area: 1/1/2/2;
  padding: 1em;
  background: border-box linear-gradient(hsla(0, 0%, 0%, 0.311), hsla(0, 0%, 35%, 0.12));
}
nav .navbar-button {
  border: none;
  background-color: transparent;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  position: fixed;
  top: 60px;
}
.navigation-container .mobile-menu {
  padding: 1.5em;
}
.navigation-container .mobile-navigation {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
}

.border-line {
  display: block;
  width: 100%;
  border: 0.005px solid hsla(0, 0%, 20%, 0.151);
}

.mastercraft-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 0.875rem;
}

.mastercraft-logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.product-content .product-header {
  margin-top: 1em;
  margin-bottom: 0.7em;
}
.product-content .product-description {
  margin-bottom: 1.2em;
  opacity: 0.7;
}

.back-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}
.back-project .backproject-button {
  display: block;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: hsl(176, 50%, 47%);
  border: none;
  border-radius: 24px;
}
.back-project .bookmare-button {
  border: none;
  background-color: transparent;
}

/* ============== Product Section Finish =================*/
.fund-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.fund-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.fund-container .fund-remain {
  font-size: 2rem;
  font-weight: 800;
}
.fund-container .fund-total {
  font-size: 0.875rem;
  opacity: 0.7;
}
.fund-container .line {
  width: 50px;
  height: 1px;
  background-color: lightgray;
  margin: 0.7em;
  text-align: center;
}

/* ============== FundTracker Section Finish =============*/
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 1.5em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  padding: 1em;
}
.cards-container .product-description {
  opacity: 0.7;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 95%, 0.5);
  align-items: start;
  gap: 0.8em;
  padding: 1em;
  border: 0.06em solid hsl(0, 0%, 85%);
}
.cards .pledge-text {
  color: hsl(176, 50%, 47%);
  font-weight: 700;
}
.cards .description-text {
  opacity: 0.7;
}
.cards .stock-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.cards .stock-left {
  font-size: 2rem;
  font-weight: 700;
}
.cards span {
  opacity: 0.6;
}

.reward-button {
  display: block;
  font-size: 0.875rem;
  padding: 1em 2em 1em 2em;
  border-radius: 24px;
  border: none;
  background-color: hsl(176, 50%, 47%);
  color: white;
}

@media (min-width: 43.75rem) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .desktop-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    display: flex;
  }
  header .desktop-navigation .navigations {
    text-decoration: none;
    color: white;
  }
  .main {
    max-width: 30rem;
  }
  .navbar-button {
    display: none;
  }
  .navigation-container {
    display: none;
  }
  .fund-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
  .fund-container .line {
    width: 1px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */